{{> nav }}
{{> jumbo }}

{{#if articles.length}}
  <div class="container">
    {{#each articles}}
      <div class="row article my-5 pb-4">
        <div class="col-sm-5 mb-3 mb-sm-3">
          <a href="{{link}}" target="_blank">
            <img class="img-fluid" src="{{img}}">
          </a>
        </div>
        <div class="col-sm-7 border-bottom border-secondary pb-3 pb-sm-3">
          <h3>
            <a href="{{link}}" target="_blank">{{title}}</a> 
          </h3>
        </div>
      </div>
    {{/each}}
  </div>
  {{else}}
  <div>
    <h2 class="text-center">No Articles!</h2>
  </div>
{{/if}}